alertmanager:
  enabled: false
kubeStateMetrics:
  enabled: false
nodeExporter:
  enabled: false
pushgateway:
  enabled: false

server:
  ingress:
    enabled: true
    hosts:
      - prometheus.minikube
